.image {
    height: 250px;
    width: 270px;
    object-fit: cover;
}

.spot-ul {
    list-style: none; 
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
}

.spot-location {
    font-size: 14pt;
}


.spot__text__row1>.spot-rating {
    position: relative;
    bottom: 21px;
    left: 210px;
}

.spot-rating {
    font-size: 14pt;
}

.spot-price {
    font-size:14pt;
    font-weight: bold;
    
}

.spot__text__row2 {
    position: relative;
    font-size: 14pt;
    width: 30%;
}

.spots-container {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.spot-tile {
    cursor: pointer;
    list-style: none;
    box-sizing: border-box;
    padding: 5px;
}

.button__container {
    list-style: none;
    position: absolute;
}

.delete > button {
    font-size: 14pt;
    position: relative;
    bottom: 75px;
    left: 215px;
    height: 31px;
    width: 75px;
    background-color: #999999;
    cursor: pointer;
    color: white;
    box-shadow: 1.5px 1.5px black;
}

.edit {
    position: relative;
    bottom: 48px;
    left: 140px;
    text-decoration: none;
    border: 2px solid black;
    padding: 3.5px;
    font-size: 14pt;
    color: white;
    background-color: #999999;
    box-shadow: 1.5px 1.5px black;
}

.price__container {
    width: 40%;
}

.tileButton__separator {
    flex-basis: 25%;
}

.top__container {
    margin-left: 30px;
}

.title {
    font-size: 24pt;
    font-weight: bold;
}

.link {
    font-size: 14pt;
    border: 2px solid black;
    padding: 5px;
    text-decoration: none;
    color: white;
    background-color: #999999;
    box-shadow: 2px 2px black;
}

