.single__spot__container {
    width: 100vw;
    margin: 20px;
    margin-right: 20px;
}

.single__spot__name {
    font-size: 24pt;
    font-weight: bold;
}

.single__spot__location {
    font-size: 18pt;
}

.spot__image__container {
    width: 100%;
    display: flex;
}

.big__image__container {
    width: 50%;
}

.big__spot__image {
    width: 100%;
    height: 412px;
}

.big__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.small__image__container {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 2px;
    column-gap: 2px;
    margin-right: 40px;
    margin-left: 2px;
}

.small__image {
    width: 100%;
    height: 205px;
}

.single__spot__textarea {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.single__spot__info-div {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.single__spot__header {
    font-size: 24pt;
    font-weight: bold;
}

.single__spot__description {
    font-size: 14pt;
    box-sizing: border-box;
    width: fit-content;
    overflow-wrap:break-word;
    text-overflow: ellipsis;
}

.single__spot__infoarea {
    width: 80%;
    
}

.border-div {
    border: 2px solid black;
    border-radius: 15px;
    width: 100%;
    height: 150px;
    padding: 5%;
    margin-right: 50px;
    margin-top: 10px;
}

.one__spot__details {
    display: flex;
    box-sizing: border-box;
    margin: 0;
}

.spot__price-div {
    display: flex;
    width: 50%;
}

.spot-review-div {
    display: flex;
    width: 50%;
    justify-content: space-around;
    box-sizing: border-box;
}

.reviews {
    font-size: 14pt;
}

.price {
    font-size: 18pt;
    font-weight: bold;
    position: relative;
    bottom: 8px;
}

.night {
    font-size: 14pt;
}

.stars {
    font-size: 14pt;
}

.dot {
    font-size: 14pt;
    font-weight: bold;
    position: relative;
    bottom: 3px;
}

/* Put the css below after refactoring read reviews to own component */

.reserve__button__container {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.reserve__button {
    padding: 10px;
    font-size: 14pt;
    cursor: pointer;
    width: 90%;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    background-color: #FF5A5F;
    color: white;
    box-sizing: border-box;
}

.hideReviewButton {
    display: none;
}

.review__container {
    margin-top: 20px;
    border-top: 2px solid black;
    width: 96%;
    
}

.review__header {
    display: flex;
    width: 20%;
    justify-content: space-around;
}

.review__stars {
    font-size: 18pt;
    font-weight: bold;
}

.review__dot {
    font-size: 18pt;
    font-weight: bold;
}

.review__numReviews {
    font-size: 18pt;
    font-weight: bold;
}

.reviewer__container {
    height: 30%;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.reviewer__firstName {
    font-size: 14pt;
    font-weight: bold;
}

.review__date {
    font-size: 14pt;
}

.review__text {
    font-size: 14pt;
}

.review__modal {
    font-size: 14pt;
    padding: 5px;
    background-color: #999999;
    color: white;
    box-shadow: 2px 2px black;
}
