.image {
    height: 250px;
    width: 270px;
}

.spot-ul {
    list-style: none; 
    flex-basis: 25%;
    box-sizing: border-box;
}

.spot-location {
    font-size: 14pt;
}


.spot__text__row1>.spot-rating {
    position: relative;
    bottom: 21px;
    left: 220px;
}

.spot-rating {
    font-size: 14pt;
}

.spot-price {
    font-size:14pt;
    font-weight: bold;
}

.spot__text__row2 p {
    position: relative;
    bottom: 41px;
    left: 65px;
    font-size: 14pt;
}