.update__form__container {
    display: flex;
    justify-content: center;
}

.update__form__contents {
    flex-basis: 33.33%;
}

.edit-header {
    font-size: 14pt;
}

.update__form__description {
    font-size: 14pt;
}

.update__country__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.update__address__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.update__location__container {
    display: flex;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
}

.update__coordinate__container {
    display: flex;
    gap: 10px;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}

.update__description__title {
    font-size: 14pt;
}

.update__description__container {
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}

.update__description__input {
    width: 100%;
}











